# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues


azure-functions==1.21.0
azure-functions-durable==1.2.9
aiohttp==3.10.6
beautifulsoup4==4.12.3
numpy==2.1.1
pandas==2.2.3
requests==2.32.3